<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MediaPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MediaPlayerDatabase" providerName="System.Data.SQLite.EF6" connectionString="data source=C:\Users\Alecca\Music\database.db" />
  </connectionStrings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <MediaPlayer.Properties.Settings>
      <setting name="Hue" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="Saturation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Light" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value>237, 242, 248</value>
      </setting>
      <setting name="RowColor" serializeAs="String">
        <value>237, 242, 248</value>
      </setting>
      <setting name="ForeColor" serializeAs="String">
        <value>30, 63, 98</value>
      </setting>
      <setting name="AlternateRowColor" serializeAs="String">
        <value>224, 234, 243</value>
      </setting>
      <setting name="DarkBackColor" serializeAs="String">
        <value>30; 63; 98</value>
      </setting>
      <setting name="DarkForeColor" serializeAs="String">
        <value>255;255;255;</value>
      </setting>
      <setting name="DarkRowColor" serializeAs="String">
        <value>30; 63; 98</value>
      </setting>
      <setting name="DarkAlternateRowColor" serializeAs="String">
        <value>224; 234; 243</value>
      </setting>
    </MediaPlayer.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>

      <remove invariant="System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite"
            type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.103.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>